@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background: #333; /* Цвет фона */
        color: #fc0; /* Цвет текста */
    }
</style>
<div>
    <br>Method:  @ViewData["methodName "] Result:  @Model
    <br>------------------------------------------------------------
    <br> 
    <br>
</div>
