@{
    ViewData["Title"] = "Sprint Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-left">
    <h1><b>Sprint13. Tasks</b></h1>
    <p>
</div>
<style>
    li {
        list-style-type: none; /* Убираем маркеры */
    }

    ul {
        padding-left: 0; /* Сдвигаем список влево */
    }
</style>
<div>
    <ul>
        <li><a href="/Tasks/Greetings">Greetings</a>
        <p>
        <li><a href="/Tasks/ProductInfo">Products</a>
        <p>
        <li><a href="/Tasks/Supermarkets">Supermarkets</a>
        <p>
        <li><a href="/Tasks/ShoppingList">Shopping list</a>
        <p>
        <li><a href="/Tasks/ShoppingCart">Shopping cart</a>
    </ul>
</div>
