@model TaskAuthenticationAuthorization.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

<h2>Registration</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div>
                    <label asp-for="Email" class="control-label">Enter Email</label><br />
                    <p><input type="text" asp-for="Email" class="form-control" /></p>
                    <span asp-validation-for="Email" />
                </div>
                <div>
                    <label asp-for="Password" class="control-label">Enter Password</label><br />
                    <p><input asp-for="Password" class="form-control" /></p>
                    <span asp-validation-for="Password" />
                </div>
                <div>
                    <label asp-for="PasswordConfirm" class="control-label">Confirm Password</label><br />
                    <p><input asp-for="PasswordConfirm" class="form-control" /></p>
                    <span asp-validation-for="PasswordConfirm" />
                </div>
                <div>
                    <p><input type="submit" value="Registration" class="btn btn-primary" /></p>
                </div>
            </div>
        </form>
    </div>
</div>
