@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Views</h1>
    <p>Introduce <a href="https://github.com/FreeJobMe/sprint-13-views-dmytro-osypenko-maksym-khrapal">our project</a>.</p>
</div>
