@{
    ViewData["Title"] = "Error";
}


<div class=text-center>
    <h1> HTTP ERROR 404</h1>

    <h1> The product does not exist</h1>

    <div>
        <a asp-controller="items" asp-action="Index"> Back to List</a>
    </div>
</div>
